body {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
  font-size: calc(15px + 0.390625vw);
}

.container {
  text-align: center;
  margin-top: 100px;
  position: relative;
}

h1 {
  font-size: 6rem;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 3rem;
}

input[type="text"] {
  padding: 5px;
  font-size: 3rem;
  width: calc(300px - 2 * 5px);
}

#buttons {
  margin-top: 10px;
  display: block;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  font-size: 3rem;
}

.button-green {
  background-color: #4CAF50;
  color: #fff;
}

.button-yellow {
  background-color: #98a83f;
  color: #000000;
}

.button:hover {
  background-color: #45a049;
}

#dropdown-list {
  display: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  text-align: left;
  left: 0;
  width: 300px;
  max-height: 150px;
  overflow-y: auto;
  margin-top: 5px;
  padding: 0;
  list-style: none;
  font-size: 3rem;
}

.dropdown-item {
  display: block;
  padding: 5px;
  cursor: pointer;
}