h1 {
    text-align: center;
    font-size: 4vh;
}

form {
    width: 60vw;
    margin: 0 auto;
    font-size: 2vh;
}

label {
    display: block;
}

input {
    width: 100%;
    margin-bottom: 10px;
}

#error-message {
    color: red;
    font-weight: bold;
    font-size: 3vh;
    margin-bottom: 10px;
}

.submit-button {
    font-size: 4vh;
}